# Exercises

##  Pandas

**MovieLens database**

In [2]:
import pandas as pd

users_data =  'C:/Users/Usuario/Desktop/CURSO UNIVERSIDAD DE BARCELONA 2020 - 2021/MATERIAL CLASES/04_Pandas/Pandas/ml-1m/users.dat'
ratings_data = 'C:/Users/Usuario/Desktop/CURSO UNIVERSIDAD DE BARCELONA 2020 - 2021/MATERIAL CLASES/04_Pandas/Pandas/ml-1m/ratings.dat'
movies_data =  'C:/Users/Usuario/Desktop/CURSO UNIVERSIDAD DE BARCELONA 2020 - 2021/MATERIAL CLASES/04_Pandas/Pandas/ml-1m/movies.dat'


unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_csv(users_data, sep='::', header=None, names=unames, engine='python',encoding="utf")
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(ratings_data, sep='::', header=None, names=rnames,  engine='python',encoding="utf")
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_csv(movies_data, sep='::', header=None, names=mnames,  engine='python',encoding="latin1")

data = pd.merge(pd.merge(ratings, users), movies)
print (data)

         user_id  movie_id  rating  timestamp gender  age  occupation    zip  \
0              1      1193       5  978300760      F    1          10  48067
1              2      1193       5  978298413      M   56          16  70072
2             12      1193       4  978220179      M   25          12  32793
3             15      1193       4  978199279      M   25           7  22903
4             17      1193       5  978158471      M   50           1  95350
...          ...       ...     ...        ...    ...  ...         ...    ...
1000204     5949      2198       5  958846401      M   18          17  47901
1000205     5675      2703       3  976029116      M   35          14  30030
1000206     5780      2845       1  958153068      M   18          17  92886
1000207     5851      3607       5  957756608      F   18          20  55410
1000208     5938      2909       4  957273353      M   25           1  35401

                                               title                genres
0             One Flew Over the Cuckoo's Nest (1975)                 Drama
1             One Flew Over the Cuckoo's Nest (1975)                 Drama
2             One Flew Over the Cuckoo's Nest (1975)                 Drama
3             One Flew Over the Cuckoo's Nest (1975)                 Drama
4             One Flew Over the Cuckoo's Nest (1975)                 Drama
...                                              ...                   ...
1000204                           Modulations (1998)           Documentary
1000205                        Broken Vessels (1998)                 Drama
1000206                            White Boys (1999)                 Drama
1000207                     One Little Indian (1973)  Comedy|Drama|Western
1000208  Five Wives, Three Secretaries and Me (1998)           Documentary

[1000209 rows x 10 columns]

1- Filter films that have received at least 250 ratings:

In [19]:
### Your Code HERE
rankingfilms=data.groupby("title").size()
print(rankingfilms[rankingfilms>250])
active_titles = rankingfilms.index[rankingfilms >= 250]

title
'burbs, The (1989)                   303
10 Things I Hate About You (1999)    700
101 Dalmatians (1961)                565
101 Dalmatians (1996)                364
12 Angry Men (1957)                  616
                                    ...
Young Guns (1988)                    562
Young Guns II (1990)                 369
Young Sherlock Holmes (1985)         379
Zero Effect (1998)                   301
eXistenZ (1999)                      410
Length: 1214, dtype: int64

**Using the previous filtered films**:

2- Obtain the mean ratings for each movie grouped by gender

In [20]:
### Your Code HERE
ratingsgender=data.pivot_table("rating",index="title",columns="gender",aggfunc="mean")
ratingsgender=ratingsgender.loc[active_titles]
ratingsgender

gender                                    F         M
title
'burbs, The (1989)                 2.793478  2.962085
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000
101 Dalmatians (1996)              3.240000  2.911215
12 Angry Men (1957)                4.184397  4.328421
...                                     ...       ...
Young Guns (1988)                  3.371795  3.425620
Young Guns II (1990)               2.934783  2.904025
Young Sherlock Holmes (1985)       3.514706  3.363344
Zero Effect (1998)                 3.864407  3.723140
eXistenZ (1999)                    3.098592  3.289086

[1216 rows x 2 columns]

**Using the previous filtered films:**

3- Show the films most valued by women.

In [21]:
### Your Code HERE
womenratings=ratingsgender.sort_values(by="F",ascending=False)
womenratings["M"]

title
Close Shave, A (1995)                                     4.473795
Wrong Trousers, The (1993)                                4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)             4.464589
Wallace & Gromit: The Best of Aardman Animation (1996)    4.385075
Schindler's List (1993)                                   4.491415
                                                            ...
Avengers, The (1998)                                      2.017467
Speed 2: Cruise Control (1997)                            1.863014
Rocky V (1990)                                            2.132780
Barb Wire (1996)                                          2.100386
Battlefield Earth (2000)                                  1.616949
Name: M, Length: 1216, dtype: float64

**Using the previous filtered films:**

4- Now we wonder which movies are rated more differently between men and women. 
    * Which films have more different rating and are more highly valued by women? 
    * And the films preferred by men which doesn't liked women? 
    * What are the films that have generated the most discordant ratings, regardless of gender?

In [26]:
### Your Code HERE
ratingsgender['diff'] = ratingsgender['M'] - ratingsgender['F']
#Sort by'diff':  films have more different rating and are more highly valued by women
sorted_by_diff=ratingsgender.sort_values(by='diff')
print (sorted_by_diff[:15])

#Switching the order we get the films preferred by men which doesn't liked women
print (sorted_by_diff[:-15:-1])

# We can use standard deviation of the ratings to find the films that have generated the most discordant ratings, regardless of gender

# Standard deviation of rating grouped by title
rating_std_by_title = data.groupby('title')['rating'].std()
# Filter down to active_titles
rating_std_by_title = rating_std_by_title.loc[active_titles]
print (rating_std_by_title.sort_values(ascending=False)[:10])

gender                                        F         M      diff
title
Dirty Dancing (1987)                   3.790378  2.959596 -0.830782
Jumpin' Jack Flash (1986)              3.254717  2.578358 -0.676359
Grease (1978)                          3.975265  3.367041 -0.608224
Little Women (1994)                    3.870588  3.321739 -0.548849
Steel Magnolias (1989)                 3.901734  3.365957 -0.535777
Anastasia (1997)                       3.800000  3.281609 -0.518391
Rocky Horror Picture Show, The (1975)  3.673016  3.160131 -0.512885
Color Purple, The (1985)               4.158192  3.659341 -0.498851
Age of Innocence, The (1993)           3.827068  3.339506 -0.487561
Free Willy (1993)                      2.921348  2.438776 -0.482573
French Kiss (1995)                     3.535714  3.056962 -0.478752
Little Shop of Horrors, The (1960)     3.650000  3.179688 -0.470312
Guys and Dolls (1955)                  4.051724  3.583333 -0.468391
Mary Poppins (1964)                    4.197740  3.730594 -0.467147
Patch Adams (1998)                     3.473282  3.008746 -0.464536
gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787
Evil Dead II (Dead By Dawn) (1987)      3.297297  3.909283  0.611985
Hidden, The (1987)                      3.137931  3.745098  0.607167
Rocky III (1982)                        2.361702  2.943503  0.581801
Caddyshack (1980)                       3.396135  3.969737  0.573602
For a Few Dollars More (1965)           3.409091  3.953795  0.544704
Porky's (1981)                          2.296875  2.836364  0.539489
Animal House (1978)                     3.628906  4.167192  0.538286
Exorcist, The (1973)                    3.537634  4.067239  0.529605
Fright Night (1985)                     2.973684  3.500000  0.526316
title
Dumb & Dumber (1994)                     1.321333
Blair Witch Project, The (1999)          1.316368
Natural Born Killers (1994)              1.307198
Tank Girl (1995)                         1.277695
Rocky Horror Picture Show, The (1975)    1.260177
Eyes Wide Shut (1999)                    1.259624
Evita (1996)                             1.253631
Billy Madison (1995)                     1.249970
Fear and Loathing in Las Vegas (1998)    1.246408
Bicentennial Man (1999)                  1.245533
Name: rating, dtype: float64

5- Calculate the average rating of each user.

In [29]:
### Your Code HERE
users_mean=data.groupby("user_id")["rating"].mean()
users_mean

user_id
1       4.188679
2       3.713178
3       3.901961
4       4.190476
5       3.146465
          ...
6036    3.302928
6037    3.717822
6038    3.800000
6039    3.878049
6040    3.577713
Name: rating, Length: 6040, dtype: float64

6- What is the highest rated movie in average that have received at least 250 ratings?

In [30]:
### Your Code HERE
data.groupby('title')['rating'].mean().loc[active_titles].sort_values(ascending=False)[:1].index.tolist()

['Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)']

7- Define a function called  <b>top_movies</b> that given an user and a number n, it returns the top n movies for this user.

In [33]:
def top_movies(dataFrame,usr):
    max_i = dataFrame[dataFrame.user_id == usr].rating.max() 
    return dataFrame[(dataFrame['user_id'] == usr) & (dataFrame['rating'] == max_i )].title

print (top_movies(data,1))

0        One Flew Over the Cuckoo's Nest (1975)
4201                       Bug's Life, A (1998)
8222                             Ben-Hur (1959)
8926                  Christmas Story, A (1983)
12759               Beauty and the Beast (1991)
15859                Sound of Music, The (1965)
19503                         Awakenings (1990)
23270                 Back to the Future (1985)
25853                   Schindler's List (1993)
28501                         Pocahontas (1995)
37204            Last Days of Disco, The (1998)
37339                         Cinderella (1950)
40375                          Apollo 13 (1995)
41626                          Toy Story (1995)
43703                           Rain Man (1988)
49748                       Mary Poppins (1964)
50759                              Dumbo (1941)
52255                Saving Private Ryan (1998)
Name: title, dtype: object

**Data from CSV**

8- Read data from csv file: `ma-ba.csv`. Count the number of times `Barça` wins `Madrid` and compute the stadistics of % win, % lose and % draw.

In [38]:
### Your Code HERE
import pandas as pd

maba = pd.read_csv('ma-ba.csv')
maba.columns = ['No','Fecha','Lugar','Partidos','resultado','Competicion']
print ('Total matches', len(maba))
df = pd.DataFrame()
df["Local"]= maba["Partidos"].str.split('-').apply(lambda x: x[0].strip())
df["Visitor"]= maba["Partidos"].str.split('-').apply(lambda x: x[1].strip())
df["GL"]= maba["resultado"].str.split('-').apply(lambda x: x[0])
df["GV"]= maba["resultado"].str.split('-').apply(lambda x: x[1])

#Alternative implementation using Series Constructor and concatening DataFrames
#df = pd.DataFrame(maba.resultado.str.split('-').apply(pd.Series, 1))
#df1 = pd.DataFrame(maba.Partidos.str.split('-').apply(pd.Series, 1))
#df =pd.concat([df1,df],axis=1)
#df.columns = ['Local','Visitor','GL','GV']
#df.Local = df.Local.apply(str.strip)
#df.Visitor = df.Visitor.apply(str.strip)


#normalize R. Madrid name
df["Local"].replace(to_replace=["Madrid FC","R.Madrid"], value = ["R. Madrid"]*2, inplace=True)
df["Visitor"].replace(to_replace= ["Madrid FC","R.Madrid"], value = ["R. Madrid"]*2, inplace=True)

print (df.head())
print("")

## Lets do statistics for both teams
def doStatistics(team,df):
    # Count victories as Local:
    local=df[df.Local == team]
    victoriesLocal = sum(local.GL > local.GV)
    drawLocal = sum(local.GL == local.GV)
    loseLocal = sum(local.GL < local.GV)
    print (team+' win as local:', victoriesLocal)
     # Count victories as Visitor:
    visitor=df[df.Visitor == team]
    victoriesVisitor = sum(visitor.GV > visitor.GL)
    drawVisitor = sum(visitor.GV == visitor.GL)
    loseVisitor = sum(visitor.GV < visitor.GL)
    print (team +' win as visitor:', victoriesVisitor)

    print ('Total Victories '+ team + ':', victoriesLocal + victoriesVisitor,'(', float((victoriesLocal + victoriesVisitor))/len(maba)*100,'%)')
    print ('Total Draws :', drawLocal + drawVisitor,'(', float((drawLocal + drawVisitor))/len(maba)*100,'%)')
    print ('Total Lose :', loseLocal + loseVisitor,'(', float((loseLocal + loseVisitor))/len(maba)*100,'%)')
    print("")
    assert victoriesLocal+victoriesVisitor+drawLocal+drawVisitor+loseLocal+loseVisitor == len(maba)

doStatistics("Barcelona",df)
doStatistics("R. Madrid",df)

Total matches 260
       Local    Visitor GL GV
0  R. Madrid  Barcelona  1  3
1  Barcelona  R. Madrid  5  2
2  Barcelona  R. Madrid  7  0
3  Barcelona  R. Madrid  1  0
4  R. Madrid  Barcelona  2  2

Barcelona win as local: 75
Barcelona win as visitor: 32
Total Victories Barcelona: 107 ( 41.15384615384615 %)
Total Draws : 59 ( 22.692307692307693 %)
Total Lose : 94 ( 36.15384615384615 %)

R. Madrid win as local: 68
R. Madrid win as visitor: 26
Total Victories R. Madrid: 94 ( 36.15384615384615 %)
Total Draws : 59 ( 22.692307692307693 %)
Total Lose : 107 ( 41.15384615384615 %)

#### !!! Compare your results with the csv files located in results.zip !!!